@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|Source+Sans+Pro&display=swap');
$header-font: 'PT Sans', sans-serif;
$nav-font: 'PT Sans Narrow', sans-serif;
$main-font: 'Source Sans Pro', sans-serif;
.triangle {
    width: 400px;
    height: 200px;
    border: solid 1px green;
    background: linear-gradient(to top left, lightgreen 50%, transparent 50%),
    linear-gradient(to top right, lightgreen 50%, transparent 50%), green;
}
body{
    font-family: $main-font;
}
.header{
    background-color: green;
    .header-cont{
        padding-top: 120px;
        padding-bottom: 120px;
        background-image: url('sass/img/header-bg.jpg');
        background-size: cover;
        background-position: center center;
    }
    .header-text{
        font-family: $nav-font;
        font-weight: bolder;
        color: white;
        font-size: 50px;
    }

}
nav{
    a{
        color: white;
        font-family: $nav-font;
        font-size: 24px;
        // font-weight: bold;
        &:hover{
            color: #f8f9fa ;
        }
    }
    
}
.whoweare{
    .sect-header{
        background-image: url('sass/img/whoweare.jpg');
        background-size: cover;
        background-position: top center;
        height: 550px;
        position: relative;
        .inner{
            width: 100%;
            position: absolute;
            bottom: 0;
            background-color: rgba(22, 87, 25, 0.63);
            padding-top: 10px;
            padding-bottom: 10px;
            color: white;
            font-family: $main-font;
        }
    }
    .sect-cont{
        font-family: $main-font;
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 20px;
        // background-color: #f1f1f1;
        .item{
            padding-top: 20px;
            padding-bottom: 20px;
        }

    }
}
.mission{
    .sect-header{
        padding-top: 150px;
        padding-bottom: 150px;
        background-image: url('sass/img/missionbg.jpg');
        background-size: cover;
        background-position: bottom center;
        // height: 400px;
        color: white;
        
    }
    .sect-cont{
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 20px;
        
        h3{
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 30px;
        }
        li{
            margin-bottom: 15px;
        }
    }
    .mission-bg{
        color: white;
        background-size: cover;
        background-position: bottom center;
        background-image: url('sass/img/aac-mission-bg.jpg');
        .img{
            text-align: center;
            margin-bottom: 10px;
        }
        img{
            width: 100px;
        }
        h4{
            text-align: center;
            font-size: 18px;
        }
    }
}
.footer{
    padding-bottom: 10px;
    padding-top: 50px;
    color: white;
    font-family: $nav-font;
    .site-info{
        a{
            color: white;
        }
    }

}
main{
    .page{
        // padding-top: 20px;
        padding-bottom: 20px;
    }
    .entry-header{
        width: 100%;
        background-color: rgba(22, 87, 25, 1);
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        font-family: $main-font;
        margin-bottom: 20px;
    }

}

.su-posts-default-loop{
    a{
        color: #212529;
    }
    .su-post{
        margin-bottom: 0 !important;
    }
}
.posted-on{
    a{
        color: white;
    }
}
.byline{
    a{color: white;}
}
.news-events{
    padding-top: 50px;
padding-bottom: 50px;
// font-size: 20px;
}

.main-slider-content {
    .n2-ow{
        font-family: $nav-font !important;
            font-weight: bolder;
            color: white;
            font-size: 50px;
    }

    }